{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{'error'|trans}}</h1>

    <p>
        {{'error_occured'|trans}}<br>
        <a href="{{ path('app_home') }}">{{'return_to_home'|trans}}</a>.
    </p>
{% endblock %}